
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdarkoperator.gallerycdn.vsassets.io%2Fextensions%2Fdarkoperator%2Fsysmon%2F1.2.0%2F1589547431846%2FMicrosoft.VisualStudio.Services.Icons.Default&f=1&nofb=1&ipt=307b80a90d0bd6baf80134db9ce978d1065bc9dbb856677ecca7415f42fdc981&ipo=images">
  <title>SYSMON x MITRE</title>
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
</head>
<body>
  <div id="Title">
      SYSMON X MITRE
  </div>
  <div id="description" >
	Generate a Sysmon configuration file choosing the Mitre techniques you want to detect.
</div>
  <div id="step1">
  <span id="detLevel">
    Select the level of detection:
   </span>
    <button class="button low" id="1" onclick="prepS2(this.id)">Low</button>
	<button class="button medium" id="2" onclick="prepS2(this.id)">Medium</button>
    <button class="button high" id="3" onclick="prepS2(this.id)">High</button>
  </div>
    <span id="tecCov">
    Techniques covered:
   </span>
    <div id="matrix">
       <iframe id="mat_frame" src="https://mitre-attack.github.io/attack-navigator/#layerURL=https%3A%2F%2Fraw.githubusercontent.com%2Fscipi0n%2FSysmonxMitre%2Fmain%2Flayer%2520(3).json%3Ftoken%3DGHSAT0AAAAAAB6VSZBCOSOKHTKBYOTOQXTAY7I3X4A" width="1300" height="1000" marginwidth="20"></iframe>
    </div>
  <div id="step3">
    <span id="download">
      Ready to Download !
     </span>
    <a href=""><button class="button download">Download</button></a>
    </div>

</body>


</html>