<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdarkoperator.gallerycdn.vsassets.io%2Fextensions%2Fdarkoperator%2Fsysmon%2F1.2.0%2F1589547431846%2FMicrosoft.VisualStudio.Services.Icons.Default&f=1&nofb=1&ipt=307b80a90d0bd6baf80134db9ce978d1065bc9dbb856677ecca7415f42fdc981&ipo=images">
  <title>SYSMON x MITRE</title>
  <link rel="stylesheet" href="{% static 'style.css' %}?v=1" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
    <script>
        function myFunction(bid) {
          var x = document.getElementById("step2");
          var s3 = document.getElementById("step3");
          if (x.style.display === "none") {
            x.style.display = "block";
            s3.style.display = "block";
          }
          var low = document.getElementById("matrixlow");
          var mid = document.getElementById("matrixmid");
          var high = document.getElementById("matrixhigh");
          if (bid === "1") {
            low.style.display = "block";
            mid.style.display = "none";
            high.style.display = "none"

          }
          if (bid === "2") {
            mid.style.display = "block";
            high.style.display = "none";
            low.style.display = "none";

          }
          if (bid === "3") {
            high.style.display = "block";
            mid.style.display = "none";
            low.style.display = "none";
          }
        }
        function downloadFunc(){
            var file = "{% static 'config.xml' %}";
            var link = document.createElement("a");
            link.download = "config.pdf";
            link.href = file;
            link.click();
        }
        function uploadFunc(){
            var file = "{% static 'config.xml' %}";
            var link = document.createElement("a");
            link.download = "config.pdf";
            link.href = file;
            link.click();
        }
        function funcA(){
            var x = document.getElementById("step2.5");
            var y = document.getElementById("step1");
            if (x.style.display === "none") {
                x.style.display = "block";
              }
            if (y.style.display === "block" ||  document.getElementById("step2").display === "block") {
                y.style.display = "none";
                document.getElementById("step2").display = "none";
              }
        }function funcB(){
           var x = document.getElementById("step1");
            var y = document.getElementById("step2.5");
            if (x.style.display === "none") {
                x.style.display = "block";
              }
            if (y.style.display === "block") {
                y.style.display = "none";
              }
        }
    </script>

</head>
<body>
  <div id="Title">
      SYSMON X MITRE
  </div>
  <div id="description" >
	Generate a Sysmon configuration file choosing the Mitre techniques you want to detect.
</div>



</body>


</html>